.text-gradient {
  background: linear-gradient(45deg, white, #1d9bf0, white);
  background-size: 300% 100%;
  animation: gradientAnimation 6s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
